body {
    width: 100%;
    max-width: 1512px;
    margin: 0 auto;
    min-height: 100vh;

    .header {
        font-family: "Poppins", serif;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 120px;

        nav {
            ul {
                display: flex;
                gap: 60px;

                li {
                    a {
                        font-weight: 500;
                        font-size: 18px;
                        color: #000000;
                    }

                    a:hover {
                        transition: all 0.5s;
                        color: #7C6A46;
                    }
                }
            }
        }

        button {
            font-family: "Poppins", serif;
            font-weight: 500;
            font-size: 18px;
            padding: 10px 35px;
            border: 3px solid #7C6A46;
            border-radius: 5px;
            background-color: #7C6A46;
            color: #ffffff;
            cursor: pointer;
        }

        button:hover {
            transition: all 0.5s;
            background-color: transparent;
            color: #7C6A46;
            border: 3px solid #7C6A46;
        }
    }

    main {
        padding: 0 120px;
        .welcome-section {
            position: relative;
            display: flex;
            justify-content: space-between;

            .welcome-text {
                font-family: "Raleway", serif;
                max-width: 400px;
                margin-top: 50px;

                h2 {
                    font-family: "Dancing Script", serif;
                    color: #7C6A46;
                    font-weight: 600;
                    font-size: 50px;
                }

                h1 {
                    font-weight: 700;
                    font-size: 55px;
                    color: #000000;
                    margin: 30px 0;
                }

                h6 {
                    font-weight: 500;
                    font-size: 18px;
                    margin-bottom: 30px;
                }

                button {
                    font-family: "Poppins", serif;
                    font-weight: 500;
                    font-size: 18px;
                    padding: 10px 35px;
                    border: 3px solid #7C6A46;
                    border-radius: 5px;
                    background-color: #7C6A46;
                    color: #ffffff;
                    cursor: pointer;
                }

                button:hover {
                    transition: all 0.5s;
                    background-color: transparent;
                    color: #7C6A46;
                    border: 3px solid #7C6A46;
                }

                .welcome-everything {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 100%;
                    height: 120px;
                    background-color: #ffffff;
                    margin-top: 50px;

                    .everything-item {
                        font-family: "Poppins", serif;

                        h4 {
                            font-weight: 600;
                            font-size: 18px;
                        }

                        p {
                            color: #777777;
                            font-weight: 800;
                            font-size: 15px;
                            margin-top: 10px;
                        }
                    }

                    button {
                        font-family: "Poppins", serif;
                        font-weight: 500;
                        font-size: 18px;
                        padding: 10px 35px;
                        border: 3px solid #7C6A46;
                        border-radius: 5px;
                        background-color: #7C6A46;
                        color: #ffffff;
                        cursor: pointer;
                    }

                    button:hover {
                        transition: all 0.5s;
                        background-color: transparent;
                        color: #7C6A46;
                        border: 3px solid #7C6A46;
                    }
                }
            }
        }

        .facilities-section {
            font-family: "Poppins", serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 60px;

            h1 {
                font-weight: 500;
                font-size: 40px;
                margin-bottom: 12px;
            }

            p {
                font-weight: 500px;
                font-size: 18px;
            }

            .facilities-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 35px;
                margin-top: 50px;

                .facilities-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 280px;
                    height: 250px;
                    color: #7C6A46;
                    background-color: #fafafa;
                    border: 3px solid transparent;
                    cursor: pointer;

                    h4 {
                        margin-top: 20px;
                        font-weight: 500;
                        font-size: 20px;
                    }
                }

                .facilities-item:hover {
                    transition: all 0.5s;
                    border: 3px solid #7C6A46;
                }
            }
        }

        .rooms-section {
            font-family: "Raleway", serif;
            background-image: url(../images/rooms_bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px 10px;
            margin-top: 70px;

            h1 {
                font-weight: 500;
                font-size: 50px;
                color: #ffffff;
            }

            hr {
                width: 130px;
                height: 5px;
                border: none;
                background-color: #ffffff;
                margin: 15px 0;
            }

            p {
                font-weight: 500;
                font-size: 18px;
                color: #ffffff;
            }

            .rooms-container {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 30px;
                margin-top: 70px;

                .room-item {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    width: 380px;
                    height: 380px;
                    background-color: #ffffff;
                    border-radius: 10px;
                    border: 3px solid #7C6A46;
                    color: #000000;
                    cursor: pointer;

                    h5 {
                        margin: 0 30px;
                    }

                    .how-rooms {
                        position: absolute;
                        top: 45px;
                        right: 45px;
                        background-color: #7C6A46;
                        border-radius: 2.5px;
                        color: #ffffff;
                        font-weight: 600;
                        padding: 10px 5px;
                    }
                }

                .room-item:hover {
                    transition: all 0.5s;
                    transform: scale(1.05);
                }
            }
        }

        .testimonies-section {
            font-family: "Raleway", serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 70px;

            h1 {
                font-weight: 600;
                font-size: 50px;
            }

            .testimonies-container {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 40px;
                margin-top: 70px;

                .testimonies-item {
                    font-family: "Raleway", serif;
                    width: 470px;
                    height: 485px;
                    background-color: #fafafa;
                    padding: 35px;
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    color: #454545;

                    .item-top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    h5 {
                        font-weight: 500;
                        font-size: 18px;
                        margin: 70px 0;
                    }

                    h5::before {
                        content: url(../images/quotes.svg);
                    }

                    h5::after {
                        content: url(../images/quotesClose.svg);
                    }

                    .client {
                        display: flex;
                        align-items: center;
                        gap: 15px;

                        p {
                            font-weight: 600;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Raleway", serif;
        background-color: #7C6A46;
        padding: 70px 120px;
        color: #ffffff;
        margin-top: 100px;

        .footer-top {
            display: flex;
            justify-content: space-between;
            gap: 95px;
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 70px;

            .footer-top-left {
                max-height: 300px;
                width: 300px;

                h2 {
                    font-family: "Dancing Script", serif;
                    font-weight: 600;
                    font-size: 30px;
                    margin-bottom: 15px;
                }

                p {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 130%;
                    min-height: 100px;
                }
            }

            .footer-navs {
                display: flex;
                gap: 90px;

                h3 {
                    width: 120px;
                    font-weight: 700;
                    font-size: 18px;
                    margin-bottom: 23px;
                }

                ul {
                    li {
                        margin-bottom: 10px;

                        a {
                            color: #ffffff;
                            font-weight: 600;
                            font-size: 12px;
                        }
                    }
                }

            }

            .footer-top-right {
                max-width: 360px;

                h2 {
                    font-weight: 700;
                    font-size: 18px;
                    margin-bottom: 23px;
                }

                p {
                    font-weight: 600;
                    font-size: 12px;
                    margin-bottom: 20px;
                }

                .subscribe-box {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    input {
                        padding: 15px;
                        border: none;
                        border-radius: 2.5px;
                        outline: none;
                    }

                    button {
                        font-family: "Raleway", serif;
                        padding: 12px 25px;
                        border: 3px solid transparent;
                        border-radius: 2.5px;
                        background-color: #ffffff;
                        color: #7C6A46;
                        font-weight: 600;
                        cursor: pointer;
                    }

                    button:hover {
                        transition: all 0.5s;
                        background: transparent;
                        color: #ffffff;
                        border: 3px solid #ffffff;
                    }
                }
            }
        }

        .copy {
            margin-top: 50px;
        }
    }
}

@media (max-width: 1512px) {
    body {
        main {
            .rooms-section {
                background-image: none;
                
                h1,p {
                    color: #000000;
                }

                hr {
                    background-color: #000000;
                }
            }
        }

        .footer {
            .footer-top {
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media (max-width: 1300px) {
    body {
        main {
            padding: 0 70px;

            .welcome-section {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .welcome-text {
                    text-align: center;

                    .welcome-everything {
                        display: none;
                    }
                }

                .welcome-img {
                    width: 500px;
                    height: auto;
                    margin-top: 50px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    body {
        .header {
            nav {
                display: none;
            }
        }

        .footer {
            .footer-top {
                .footer-top-left {
                    text-align: center;
                }

                .footer-top-right {
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 630px) {
    body {
        .header {
            align-items: center;
            justify-content: center;

           button {
            display: none;
           } 
        }

        main {
            padding: 0 30px;

            section {
                text-align: center;
            }

            .welcome-section {
                .welcome-img {
                    max-width: 350px;
                    height: auto;
                }
            }

            .rooms-section {
                .rooms-container {
                    .room-item {
                        padding: 20px;
                        max-width: 300px;
                        height: auto;

                        h5 {
                            margin-top: 20px;
                        }

                        img {
                            max-width: 300px;
                            height: auto;
                        }
                    }
                }
            }

            .testimonies-section {
                .testimonies-container {
                    .testimonies-item {
                        max-width: 300px;
                        height: auto;
                    }
                }
            }
        }

        .footer {
            padding: 50px;

            .footer-top {
                .footer-navs {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;

                    nav {
                        text-align: center;
                    }
                }
            }
        }
    }
}